<Configuration packages="io.osnz.demos" monitorInterval="30" verbose="true">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <AsyncLogger name="io.osnz" level="debug"/>
    <AsyncLogger name="jersey-logging" level="info"/>
    <AsyncRoot level="info">
      <AppenderRef ref="STDOUT"/>
    </AsyncRoot>
  </Loggers>
</Configuration>
